<!DOCTYPE html>
<html>
<head>
	<title>Labas Spring web</title>
	<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	<script src="GrafikasX.js"></script>
	<script>
	
		$( document ).ready ( function() {
		
		
			var taskai_visi;
	
			$.ajax({
		 		 url: '/kreives-taskai'
		 
			}).done( function( data ) {
				
				// alert ( "gauti duomenys: " + data );
				/*
				for ( i = 0; i < data.length; i++ ) {
				
					if ( data [ i ] != null ) {
				
						console.log ( "x: " + data [ i ].x  + " y: " + data [ i ].y + " z: " + data [ i ].z );
					}
				}
				*/
				
				console.log ( JSON.stringify ( data ) );
				
				taskai_visi = data.taskai;
		  	});	
		  	
		  	$( '#rodyk' ).click( function() {
		  	
		  		$.ajax({
		  		
		  			url: '/trikampiu-sudarytojas'
		  			
		  		}).done(function( data ) {
		  			
		  			console.log (JSON.stringify ( data ) );
		  			
		  				cnv = document.getElementById ( 'vaizduoti-trikampius' );

						this.ctx = cnv.getContext ( '2d' );
						this.ctx.strokeStyle = "purple";
				
						this.x_width = ( cnv.width - 50 );
						this.y_height = ( cnv.height - 50 );
				
						this.x_koord_prad = 30;
						this.y_koord_prad = this.y_height + 20;
				
						console.log ( "x_koord_prad: " + this.x_koord_prad + " y_koord_prad: " + this.y_koord_prad );
				
						this.ctx.beginPath();
						trik = data.trikampiai_naujas_sarasas;
						this.ctx.strokeStyle =  "purple";
						
						for (i=0; i<trik.length; i++) {
						
							this.ctx.moveTo ( trik[i].x1, trik[i].y12 );
							this.ctx.lineTo ( trik[i].x2, trik[i].y12 );
							this.ctx.moveTo ( trik[i].x2, trik[i].y12 );
							this.ctx.lineTo ( trik[i].x3, trik[i].y3 );
							this.ctx.moveTo ( trik[i].x3, trik[i].y3 );
							this.ctx.lineTo ( trik[i].x1, trik[i].y12 );
							console.log(i);
						}
						
						this.ctx.stroke();					
						this.ctx.closePath();		
		  		}); 
			});
		});
	
	</script>
	<style>
		#forma {
			 width: 90%;
			 margin: 10px auto;
		}
		label {
			display: block;
		}
		input, label {
			width: 90%;
			margin: 10px auto;
		}
		.skaicius {
		
			color: green;
		}
		.klaida {
		
			color: red;
		}
	</style>
</head>
<body>
	Labas Spring web
	<h3>pradines atkarpos</h3>
		<table>
			<tr th:each="atkarpa : ${atkarpos_pradines}">
				<td th:text="${atkarpa}"></td>			
			</tr>
		</table>
	<h3>trikampiai</h3>
		<table>
			<tr th:each="trikampis : ${trikampiai}">
				<td th:text="${trikampis.toString()}"></td>			
			</tr>
		</table>
	<h3>statieji trikampiai</h3>
		<table>
			<tr th:each="trikampis : ${statieji_trikampiai}">
				<td th:text="${trikampis.toString()}"></td>			
			</tr>
		</table>
	<h3>lygiasoniai trikampiai</h3>
		<table>
			<tr th:each="trikampis : ${lygiasoniai_trikampiai}">
				<td th:text="${trikampis.toString()}"></td>			
			</tr>
		</table>
	<h3>lygiakrasciai trikampiai</h3>
		<table>
			<tr th:each="trikampis : ${lygiakrasciai_trikampiai}">
				<td th:text="${trikampis.toString()}"></td>			
			</tr>
		</table>
	<h3>likusios atkarpos</h3>
	<table>
		<tr th:each="atkarpa : ${atkarpos}">
			<td th:text="${atkarpa}"></td>			
		</tr>
	</table>
	<h3> trikampiu vaizdai</h3>
		<input type="button" value="rodyti" id="rodyk">
		<canvas id="vaizduoti-trikampius" width="1070" height="600" style="border:1px solid black;"> </canvas>
</body>
</html>